{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 15%;">CURP</th>
        <th scope="col" style="width: 25%;">Nombre(s)</th>
        <th scope="col" style="width: 25%;">Apellido Paterno</th>
        <th scope="col" style="width: 25%;">Apellido Materno</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.curp }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apaterno }}</td>
            <td>{{ c.amaterno }}</td>
            <td>
                <a href="{% url 'kardex:category_update' c.id %}" type="button" class="btn btn-warning btn-xs btn-sm">
                   <i class="fas fa-user-edit"></i>
                </a>
                <a href="{% url 'kardex:category_delete' c.id %}" type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}