{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'category/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 15%;">CURP</th>
        <th scope="col" style="width: 25%;">Nombre(s)</th>
        <th scope="col" style="width: 25%;">Apellido Paterno</th>
        <th scope="col" style="width: 25%;">Apellido Materno</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}