{% extends 'skin.html' %}
{% load static %}
{% block head_body %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>
    <!--Block head list-->
    {% block head_list %}
        <script src="{% static 'consulta/js/list.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="card {{ dshboard.card }}">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }} 
                {% if activo|length > 0 %}
                    <div class="float-right">
                        &nbsp;&nbsp;/&nbsp;&nbsp;    
                        <strong>Estado de Fuerza Activo: </strong>
                        <strong>UAC ({{ personal_uac|length }})</strong>
                        &nbsp;&nbsp;
                        <strong>UIIP ({{ personal_uiip|length }})</strong>
                    </div>       
                {% endif %}
            </h3>
        </div>
        <div class="card-body" style="display: block;">
            <div class="container-fluid">
                <!--Block content list-->
                {% block content_list %}
                    <!--Block content list before-->
                    {% block content_list_before %}
                        <br>
                    {% endblock %}
                    <!--Table-->
                    <table width="100%" class="table table-bordered table-striped" id="data">
                        <thead>
                        <tr>
                            {% block columns %}
                                <th>id</th>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Clave SP</th>
                                <th>Puesto</th>
                                <th>Estatus</th>
                                <th>Adscripción</th>
                                <th class="text-center">Opciones</th>
                            {% endblock %}

                        </tr>
                        </thead>
                        <tbody>
                        <!--Rows-->
                        {% block rows %}{% endblock %}
                        </tbody>
                    </table>
                {% endblock %}
            </div>
        </div>
        <!--Block box footer-->
        {% block box_footer %}
            <div class="card-footer">
                <!--Block box footer buttons-->
                {% block box_footer_buttons %}
                    <a href="{% url 'kardex:persona_add' %}" class="btn btn-primary btn-flat">
                        <i class="fas fa-plus"></i> Nuevo Registro
                    </a>
                    <!--Block box footer add buttons-->
                    {% block box_footer_add_button %}{% endblock %}
                        
                {% endblock %}
            </div>
        {% endblock %}
        <!--Block box footer after-->
        {% block box_footer_after %}{% endblock %}
    </div>
    
{% endblock %}
