{% extends 'list.html' %}
{% load static %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 15%;">CURP</th>
        <th scope="col" style="width: 25%;">Nombre(s)</th>
        <th scope="col" style="width: 25%;">Foto</th>
        <th scope="col" style="width: 5%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for obj in object_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.curp }}</td>
            <td>{{ obj.nombre }} {{ obj.apaterno }}  {{ obj.amaterno }} </td>
            <td class="text-center">

                <img src="{{ obj.get_image }}" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px;">
            </td>

            <td class="text-center">
                <a href="{% url 'kardex:alumno_update' obj.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'kardex:alumno_delete' obj.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}