{% extends 'skin.html' %}
{% load static %}
{% block head_body %}
    <link rel="shortcut icon" href="favicon.ico"> 
        
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="/static/assets/fontawesome/js/all.min.js"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/static/assets/css/pillar-1.css">
        <!--Block head list-->
    {% block head_list %}{% endblock %}
{% endblock %}
{% block content%}
<div class="card card-primary">
    <div class="card-header">
        <h2 class="card-title">
            <i class="fas fa-user"></i>
            FICHA CANDIDATO
        </h2>
        <a href="{% url 'reports:export_candidato_pdf' candidato.pk %}" target="_blank" class="ml-1 btn bg-gradient-primary btn-round float-right">
            <i class="fas fa-file-pdf"></i> Generar PDF
        </a>
        <a href="{% url 'candidatos:captura_update' candidato.pk %}" class="ml-1 btn bg-gradient-success btn-round float-right">
            <i class="fas fa-user-edit"></i> Editar
        </a> 
        <a href="{% url 'candidatos:captura_list' %}" class="btn bg-gradient-danger btn-round float-right">
            <i class="fas fa-backward"></i> Atras
        </a>
    </div>
    
    <div class="card-body">
        
        <!-- Título -->
        <div class="row align-items-center bg-gradient-dark rounded">
            <div class="col-2"></div>
                {% if candidato.estatus_candidato == 'Presidente Municipal' or candidato.estatus_candidato == 'Presidenta Municipal'   %}
                    <div class="col-8 text-center"><h3 class="mt-1 text-white" > {{candidato.municipio}}</h3></div>
                {% elif candidato.estatus_candidato == 'Diputado Local' or candidato.estatus_candidato == 'Diputada Local'%}
                    {% if candidato.distrito_local.nombre == 'REPRESENTACIÓN PROPORCIONAL' or candidato.distrito_local.nombre == 'PLURINOMINAL'%}    
                        <div class="col-8 text-center"><h3 class="mt-1 text-white" > DISTRITO {{candidato.distrito_local.nombre}}</h3></div>
                    {%elif candidato.estatus_candidato == 'Diputado Local' or candidato.estatus_candidato == 'Diputada Local' %}
                        <div class="col-8 text-center"><h3 class="mt-1 text-white" >DISTRITO {{candidato.distrito_local.nombre}}</h3></div>
                    {%endif%}
                {% elif candidato.estatus_candidato == 'Diputado Federal' or candidato.estatus_candidato == 'Diputada Federal'  %}
                    <div class="col-8 text-center"><h3 class="mt-1 text-white" > {{candidato.distrito_federal.nombre}}</h3></div>
                {% elif candidato.estatus_candidato == 'Candidato a Presidencia Municipal' or candidato.estatus_candidato == 'Candidata a Presidencia Municipal'  %}
                    <div class="col-8 text-center"><h3 class="mt-1 text-white" > {{candidato.municipio}}</h3></div>
                {% elif candidato.estatus_candidato == 'Militante'%}
                    <div class="col-8 text-center"><h3 class="mt-1 text-white" > {{candidato.estatus_candidato}}</h3></div>
                {% endif %}
            <div class="col-2 text-center"><h5 class="ml-6 mt-1 text-white" >ID {{ candidato.id }}</h5></div>
        </div>
        
        <!-- ENCABEZADO -->
        <div class="row align-items-center bg-secondary  rounded ">
            <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
                {% if candidato.foto %}
                    <a href="">
                        <img src=" {{ candidato.foto.url }}" alt="{{candidato.nombre}}" class=" img-thumbnail rounded border img-fluid"  style = "width:185px; height: 220px"  >
                    </a>
                {% else %}
                    <img src="{% static "img/user1.png" %}" class=" rounded border img-fluid"  style = "width:185px; height: 220px" />
                {% endif %}
            </div><!--//col-->
            
            <div class="col">
                <div class="row p-6 justify-content-center justify-content-md-between">
                    <div class="primary-info col-auto">
                        <h2 class="name mt-0 mb-1 text-white text-uppercase text-uppercase"><strong>{{candidato.nombre}} {{candidato.apaterno}} {{candidato.amaterno}}</strong></h2>
                        <div><h4>{{candidato.estatus_candidato}} ({{candidato.periodo}}) </h4></div>
                        <ul class="list-unstyled">
                            <li class="mb-2"><i class="fas fa-birthday-cake me-2" data-fa-transform="grow-3"></i>&nbsp;&nbsp; {{candidato.fecha_nacimiento}}</li> 
                            <li class="mb-2"><i class="far fa-calendar-alt me-2" data-fa-transform="grow-3"></i>&nbsp;&nbsp; {{candidato.get_edad}} años</li>
                            {%  if candidato.correo|length > 0 %}
                                <li class="mb-2"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>&nbsp;&nbsp;{{candidato.correo}}</li>
                            {% endif %}
                            {% if candidato.facebook|length > 0 %}
                                <li class="mb-2"><i class="fab fa-facebook-square me-2" data-fa-transform="grow-6"></i>&nbsp;&nbsp; {{candidato.facebook}}</a></li>
                            {% endif %}
                            {% if candidato.twitter|length > 0 %}
                                <li class="mb-2"><i class="fab fa-twitter me-2" data-fa-transform="grow-6"></i>&nbsp;&nbsp; {{candidato.twitter}}</a></li>
                            {% endif %}
                        </ul>
                    </div><!--//primary-info-->
                    <div class="secondary-info col-auto mt-2">
                        <ul class="resume-social list-unstyled">
                            <li class="mb-3 mr-5"><span class="fa-container text-center me-2"><i class="fas fa-user-tie	"></i></span>&nbsp;&nbsp;{{candidato.partido}}</li>
                        </ul>
                        <img src=" {{ candidato.partido.foto.url }}" alt="{{candidato.partido}}" class=" img-thumbnail rounded border img-fluid" style="height: 125px;">
                    </div><!--//secondary-info-->
                </div><!--//row-->
                
            </div><!--//col-->
            
        </div>

        <br>
        <div class="row">
            <!--Datos Generales-->
            <div class="col-lg-9">
                <section class="resume-section experience-section mb-5">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Datos Generales</h2>
                    <div class="resume-section-content">
                        <div class="resume-timeline position-relative">
                            <article class="resume-timeline-item position-relative pb-5">
                                
                                <div class="resume-timeline-item-header mb-2">
                                    <div class="d-flex flex-column flex-md-row">
                                        <h3 class="resume-position-title font-weight-bold mb-1">RFC</h3>
                                    </div><!--//row-->
                                    <ul><li>{{candidato.rfc}}</li></ul>
                                    <div class="d-flex flex-column flex-md-row">
                                        <h3 class="resume-position-title font-weight-bold mb-1">CURP</h3>
                                    </div><!--//row-->
                                    <ul><li>{{candidato.curp}}</li></ul>
                                    {% if candidato.estado_civil|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Estado Cívil</h3>
                                        </div><!--//row-->
                                        <ul><li>{{candidato.estado_civil}}</li></ul>
                                    {% endif %}
                                    {% if candidato.direccion|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Domicilio</h3>
                                        </div><!--//row-->
                                        <ul><li>{{candidato.direccion}}</li></ul>
                                    {% endif %}
                                    {% if candidato.vehiculo|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Vehículo</h3>
                                        </div><!--//row-->
                                        <ul><li>{{candidato.vehiculo}}</li></ul>
                                    {% endif %}
                                    {% if candidato.telefono_fijo|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Teléfono Fijo</h3>
                                        </div><!--//row-->
                                        <ul><li>{{candidato.telefono_fijo}}</li></ul>
                                    {% endif %}
                                    {% if candidato.telefono_movil|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Teléfono Móvil</h3>
                                        </div><!--//row-->
                                        <ul><li>{{candidato.telefono_movil}}</li></ul>
                                    {% endif %}
                                    {% if candidato.escolaridad|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Formación Acádemica</h3>
                                        </div><!--//row-->
                                        <ul><li>{{candidato.escolaridad}}</li></ul>
                                    {% endif %}
                                    {% if candidato.cargos_ocupados|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Cargos Ocupados</h3>
                                        </div><!--//row-->
                                        <ul><li><p class="text-justify">{{candidato.cargos_ocupados}}</p></li></ul>	
                                    {% endif %}
                                    {% if candidato.vinculos_politicos|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Vínculos Políticos</h3>
                                        </div><!--//row-->
                                        <ul><li><p class="text-justify">{{candidato.vinculos_politicos}}</p></li></ul>	
                                    {% endif %}
                                    {% if candidato.zona_influencia|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Zona de Influencia</h3>
                                        </div><!--//row-->
                                        <ul><li>{{candidato.zona_influencia}}.</li></ul>	
                                    {% endif %}
                                    {% if candidato.experiencia_laboral|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Experiencia Laboral</h3>
                                        </div><!--//row-->
                                        <ul><li><p class="text-justify">{{candidato.experiencia_laboral}}</p></li></ul>	
                                    {% endif %}
                                    {% if candidato.comisiones|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Comisiones</h3>
                                        </div><!--//row-->
                                        <ul><li><p class="text-justify">{{candidato.comisiones}}</p></li></ul>	
                                    {% endif %}
                                    {% if candidato.temas_atencion|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Temas de Atención</h3>
                                        </div><!--//row-->
                                        <ul><li><p class="text-justify">{{candidato.temas_atencion}}</p></li></ul>	
                                    {% endif %}
                                    {% if candidato.amenazas|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Amenazas</h3>
                                        </div><!--//row-->
                                        <ul><li><p class="text-justify">{{candidato.amenazas}}</p></li></ul>	
                                    {% endif %}
                                    {% if candidato.vinculos_delincuencia|length > 0 %}
                                        <div class="d-flex flex-column flex-md-row">
                                            <h3 class="resume-position-title font-weight-bold mb-1">Vínculos con la delincuencia organizada</h3>
                                        </div><!--//row-->
                                        <ul><li><p class="text-justify">{{candidato.vinculos_delincuencia}}</p></li></ul>	
                                    {% endif %}


                                </div><!--//resume-timeline-item-header-->
                            </article><!--//resume-timeline-item-->
                            
                        </div>
                    </div>
                </section><!--//experience-section-->
            </div>

            <!--Riesgo-->
            <div class="col-lg-3">

                <section class="resume-section skills-section mb-5">
                    <div class="resume-section-content">
                        <div class="resume-timeline position-relative">
                            <article class="resume-timeline-item position-relative pb-5">
                                <div class="resume-section-content">
                                    <div class="resume-skill-item">
                                        
                                        <ul class="list-unstyled mb-4">
                                            <h6 class="resume-skills-cat font-weight-bold">Riesgo</h6>
                                            <li class="mb-2">
                                                <div class="resume-skill-name">{{candidato.riesgo}}</div>
                                                {%if candidato.riesgo == 'Bajo'%}
                                                    <div class="progress resume-progress">
                                                        <div class="progress-bar theme-progress-bar bg-gradient-success rounded" role="progressbar" style="width: 33.3%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% elif candidato.riesgo == 'Medio' %}
                                                    <div class="progress resume-progress">
                                                        <div class="progress-bar theme-progress-bar bg-gradient-warning rounded" role="progressbar" style="width: 66.6%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% elif candidato.riesgo == 'Alto' %}
                                                    <div class="progress resume-progress">
                                                        <div class="progress-bar theme-progress-bar bg-gradient-danger" role="progressbar" style="width: 99.9%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% endif %}
                                            </li>
                                            <li class="mb-2">
                                                <h6 class="resume-skills-cat font-weight-bold">Poder de Convocatoria</h6>
                                                <div class="resume-skill-name">{{candidato.poder_convocatoria}}</div>
                                                {%if candidato.poder_convocatoria == 'Bajo'%}
                                                    <div class="progress resume-progress">
                                                        <div class="progress-bar theme-progress-bar bg-gradient-success" role="progressbar" style="width: 33.3%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% elif candidato.poder_convocatoria == 'Medio' %}
                                                    <div class="progress resume-progress">
                                                        <div class="progress-bar theme-progress-bar bg-gradient-warning" role="progressbar" style="width: 66.6%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% elif candidato.poder_convocatoria == 'Alto' %}
                                                    <div class="progress resume-progress">
                                                        <div class="progress-bar theme-progress-bar bg-gradient-danger" role="progressbar" style="width: 99.9%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                {% endif %}
                                            </li>
                                            {% if candidato.protesta == 'Si' %}
                                                <li class="mb-2">
                                                    <h6 class="resume-skills-cat font-weight-bold">Toma de Protesta</h6>
                                                    <div class="resume-skill-name">{{candidato.protesta}}</div>
                                                    <div class="progress resume-progress">
                                                        <div class="progress-bar theme-progress-bar bg-gradient-link" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </li>
                                            {%endif%}
                                            
                                        </ul>
                                    </div><!--//resume-skill-item-->
                                </div>
                            </article>
                            
                        </div>
                    </div>
                </section>

                <section class="resume-section skills-section mb-5">
                    {% if candidato.estatus_candidato == 'Diputado Local' or candidato.estatus_candidato == 'Diputada Local' %}
                        {% if candidato.distrito_local.nombre == 'REPRESENTACIÓN PROPORCIONAL' or candidato.distrito_local.nombre == 'PLURINOMINAL'%}    
                            <section class="resume-section skills-section mb-5">
                                <div class="resume-section-content">
                                    <div class="resume-timeline position-relative">
                                        <article class="resume-timeline-item position-relative pb-5">
                                            <div class="resume-section-content">
                                                <div class="resume-skill-item">
                                                    <ul class="list-unstyled mb-4">    
                                                    {% for distritos in distritos_locales %}
                                                        {% if distritos.distrito_local_id == candidato.distrito_local.id %}
                                                            <ul><li>{{ distritos.cabecera }}</ul></li>
                                                        {% endif %}
                                                    {% endfor %} 
                                                </div><!--//resume-skill-item-->
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </section>
                        {% else %}
                            <section class="resume-section skills-section mb-5">
                                <div class="resume-section-content">
                                    <div class="resume-timeline position-relative">
                                        <article class="resume-timeline-item position-relative pb-5">
                                            <div class="resume-section-content">
                                                <div class="resume-skill-item">
                                                    <ul class="list-unstyled mb-4">    
                                                        <h6 class="resume-skills-cat font-weight-bold">Municipios que abarca</h6>
                                                        {% for distritos in distritos_locales %}
                                                            {% if distritos.distrito_local_id == candidato.distrito_local.id %}
                                                                <ul><li>{{ distritos.cabecera }}</ul></li>
                                                            {% endif %}
                                                        {% endfor %} 
                                                </div><!--//resume-skill-item-->
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </section>
                        {% endif %}

                        
                    {% elif candidato.estatus_candidato == 'Diputado Federal' or candidato.estatus_candidato == 'Diputada Federal'%}
                        <section class="resume-section skills-section mb-5">
                            <div class="resume-section-content">
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-5">
                                        <div class="resume-section-content">
                                            <div class="resume-skill-item">
                                                <ul class="list-unstyled mb-4">      
                                                <h6 class="resume-skills-cat font-weight-bold">Municipios que abarca</h6>
                                                {% for distritos in distritos_federales %}
                                                    {% if distritos.distrito_federal_id == candidato.distrito_federal.id %}
                                                        {% for mun in municipios  %}
                                                            {% if distritos.municipio_id == mun.id %}
                                                                <li> {{ mun.nombre }} </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %} 
                                            </div><!--//resume-skill-item-->
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </section>
                    {% endif %}             
                </section>
                        
            </div>

            
    
    </div>

    <!--Footer-->
    <div class="card-footer bg-secondary rounded pd-4 mb-1" >
        <h6 class="name text-center text-white" ><strong>Última actualización por usuario con ID {{candidato.user.id}}, el {{candidato.modified}} hrs.</strong></h6>
    </div>

    </div>

        
{% endblock %} 


